/adatbazis/dataHandler/OscarDataHandler/nbproject/private/
/adatbazis/dataHandler/OscarDataHandler/build/
/javaalkalmazas/dataHandler/OscarDataHandler/nbproject/private/
/javaalkalmazas/dataHandler/OscarDataHandler/build/
